doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Login Page
    // Bootstrap core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='styles/login.css', rel='stylesheet')
  body
    .container.vertical-center
      h1.text-center Congratulations! You are now logged
    // /container