body {
  background-color: #eee;
  background: url("../images/sliderbg_01.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-shadow: 1px 1px rgba(200, 200, 200, 0.5);
}

h1, h2{
  color: rgba(30, 30, 30, 0.7);
  font-family: 'Raleway', sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading{
  margin-bottom: 20px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.vertical-center {
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%,-50%);
}

.validation{
  color: red;
}

.btn-block {
  display: block;
  width: 100%;
  margin-top: 7%;
}

form {
  background-color: rgba(255,255,255, 0.4);
  color: inherit;
  border-radius: 10px;
}

img {
  border-radius: 20px;
}

img:hover {
  box-shadow: 2px 2px rgba(50,50,50,0.5);
  opacity: 0.9;
}

.dashboard-title {
  margin-top: 5%;
}

.dashboard-icons {
  background-color: rgba(255,255,255, 0.5);
  color: inherit;
  border-radius: 10px;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  max-width: 540px;
  padding: 15px;
  margin: 0 auto;
}

.owncloudx img, .pi-hole img, .monitor img {
  margin-bottom: 25px;
}